$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;
$accent: #fff57d;
$gutter: 2%;
$gutterDbl: (2 * $gutter);
$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;